= widget_tag :li, :class => 'comment' do
  = profile_avatar_image(comment.user, :mini_thumb)
  %span.watch
    - if comment.commentable.subscribed_on_comments? comment.user
      %i.icon-eye-open{:title => t("subscribed")}   
    - else
      %i.icon-eye-close{:title => t("not_subscribed")}   
  %a.author{:href => user_profile_path(comment.user)}=comment.user.name
  %span.body=simple_format h(comment.body)
  %small
    %span.date
      =distance_of_time_in_words_to_now comment.created_at, true
      ago
  - if can? :destroy, comment
    = link_to url_for_event(:destroy, 
      :source => widget_id, 
      :comment_id => comment.id), 
      :remote => true, 
      class: "destroy", 
      title: t('comment.remove'), 
      :confirm => t('confirm') do
      %i.icon-fire
