= widget_div do
  %li.comment{id: "comment_#{comment.id}"}
    %span.author=comment.user.name
    %span.body=simple_format h(comment.body)
    %small
      %span.date
        =distance_of_time_in_words_to_now comment.created_at, true
        ago
    - if can? :destroy, comment
      = link_to url_for_event(:destroy, :source => widget_id, :comment_id => comment.id),
        remote: true, 
        class: "destroy", 
        title: t('comment.remove'), 
        :confirm => t('confirm') do
        %small
          %i.icon-fire
          =t :delete
