:markdown
  Comment By : '#{@comment.user.name}'
%p
  For event
  = link_to @event.name, event_url(@invitation.event)

%p -----------------------------------------------------------
%p= simple_format h(@comment.body)
%p -----------------------------------------------------------

= link_to "Goto event", event_url(@invitation.event) + "#comments"
