:markdown
  Comment By : '#{@comment.user.name}'
For event "
= link_to @event.name, event_url(@invitation.event)

-----------------------------------------------------------
= simple_format h(@comment.body)
-----------------------------------------------------------

= link_to "Goto event", event_url(@invitation.event) + "#comments"
