-# @param form

-# The id of the selection will go here
= form.input :guest_id, 
  :as => :hidden

= form.input :guest, 
  :label => false,  
  :as => :email, 
  :input_html => { :value => "", 
    :placeholder => "name or email address", 
    "data-provide" => "genericTypeahead", 
    "data-source"=> signed_in? ? current_user.invite_typeahead_data.to_json : [], 
    "data-result-input-name" => "invite[guest_id]",
    :autocomplete => 'off' }
