-# @param form

= form.input :email, 
  :label => 'email',  
  :as => :email, 
  :input_html => { :value => "", 
    :placeholder => "email address", 
    "data-provide" => "typeahead", 
    "data-source"=> current_user.friends_emails.to_json, 
    :autocomplete => 'off' }
