.home
  .row
    .span12
      .teaser
        = image_tag "front_image_block_teaser.jpg"


  -# Note all the below columns are made the same height
  -# with some js and css magic.

  .row
    .span3
      .well
        :markdown
          ### We are in beta

          Visit us on [facebook](href="http://www.facebook.com/openkitchen.at")

    .span3
      .well
        :markdown
          ### Here Cooks

          Unusual places, interesting people, crazy creations, your ideas and a motto

    .span3
      .well
        :markdown
          ### Open Kitchen

          .. is a community of open minded people
          who like to cook and eat together

    .span3
      .well
        :markdown
          ### Register Here

          ...

          ...
  .row
    .span12
      .well.clearfix
        :markdown
          put sponser info here ...

