- content_for :scripts
  = javascript_include_tag "http://a.vimeocdn.com/js/froogaloop2.min.js"

.home
  .row
    .span12
      .teaser
        %a(data-toggle="modal" data-target="#teaser-wrapper" href="#")
          = image_tag "front_image_block_teaser.jpg"


  -# Note all the below columns are made the same height
  -# with some js and css magic.

  .row
    .span3
      .well
        :markdown
          ### We are in beta

          Visit us on [facebook](href="http://www.facebook.com/openkitchen.at")

    .span3
      .well
        :markdown
          ### Here Cooks

          Unusual places, interesting people, crazy creations, your ideas and a motto

    .span3
      .well
        :markdown
          ### Open Kitchen

          .. is a community of open minded people
          who like to cook and eat together

    .span3
      .well
        :markdown
          ### Register Here

          ...

          ...
  .row
    .span12
      .well.clearfix
        :markdown
          put sponser info here ...


  #teaser-wrapper.modal.hide.fade(data-video=@video)
    .modal-body
    .modal-footer
      #fb-root
      %script{:src => "http://connect.facebook.net/en_US/all.js#appId=128707317209423&xfbml=1"}
      %fb:like{:colorscheme => "dark", :font => "", :href => "www.openkitchen.at", :send => "false", :show_faces => "true", :width => "450"}

