- content_for :subnav_header do
  %h1.autofont=@event.name.capitalize

#edit_event_page
  .sections
    = render :partial => 'edit', :locals => { _event: @event }

    .row-fluid
      .span6
        = render_widget :event_guests

      .span6
        = render_widget :comments
