.event_box
  %h1 Welcome to your events
  = link_to "Create New Event", new_event_url 

.event_box
  %h2 Current Events
  %ul
    - @events.each do |event|
      %li
        =link_to event.name, edit_event_path(event.id)




