.event_box
  %h1 Welcome to your events
  - if can? :create, Event
    = link_to "Create New Event", new_event_url 
  - else
    %a.popover-trigger(href="#" 
      data-title="Event Creation Disabled" 
      data-content='Please complete registration to create events') 
      Create new event


.event_box
  %h2 Current Events
  %ul.unstyled
    - @events.each do |event|
      %li
        =link_to event.name, edit_event_path(event.id)
        %p
          hosted by
          %b=event.owner.email




