- content_for :subnav_header do

  %h1.autofont=@event.name.capitalize

#show_event_page

  .sections

    = render :partial => 'status'

    = render :partial => 'show', :locals => { _event: @event }


