- images = @venue.venue_images.all
- if images.length > 0

  .carousel_nav
    .strip
      - @venue.venue_images.all.each do |image|
        %a.item{:href=>"#"}
          = image_tag image.image.expiring_url(s3_expiry, :thumb)
    #venues_edit_images_carousel.carousel.slide
      .carousel-inner
        - @venue.venue_images.all.each do |image|
          .item
            = image_tag image.image.expiring_url(s3_expiry, :vlarge)
            - if can? :destroy, image
              .carousel-caption
                = link_to t("delete"), image, :method => :delete, :confirm => t("confirm")
      %a.carousel-control.left(href="#venues_edit_images_carousel" data-slide="prev") &lsaquo;
      %a.carousel-control.right(href="#venues_edit_images_carousel" data-slide="next") &rsaquo;

:javascript
  $(document).ready(function(){
    $(".carousel .item:first-child").addClass("active");
    $(".carousel").carousel();
  }
  );
