#venues_show

  .row-fluid
    .span6
      %section#venues_show_address{'data-subnav-label'=>t(".address")}
        %h1=t(".address")
        .well
          %address
            %strong=@venue.name
            %br
            =@venue.street
            %br
            =@venue.city
            %br
            =@venue.country
            %br
            =@venue.postcode

          = render :partial => "events/map"

    .span6
      %section#venues_show_photos{'data-subnav-label'=>t(".photos")}
        %h1=t(".photos")
        .well
          = render :partial => "venues/carousel"
