- content_for :subnav_header do
  %h1.autofont= Venue.model_name.human

-if can? :edit, @venue
  - content_for :subnav_items do
    %li
      = link_to t("edit"), edit_venue_path(@venue)

= render :partial => 'show'
