.carousel_nav
  = render :view => "strip"
  #venues_edit_images_carousel.carousel
    = render :view => "inner"
    %a.carousel-control.left(href="#venues_edit_images_carousel" data-slide="prev") &lsaquo;
    %a.carousel-control.right(href="#venues_edit_images_carousel" data-slide="next") &rsaquo;

:javascript
  $(document).ready(function(){
    $(".carousel .item:first-child").addClass("active");
  }
  );
