= widget_div :class => "event" do

  %section{'id'=>"#{widget_id}_link", 'data-subnav-label'=> @title}

    %h1.events_section_title=t @title

    .events

      - if @geolocate
        = render :view => :geolocate

      = render :view => :list


