-# List all found public events
%ul.unstyled.events

  - @events.each_slice(3) do |list|
    .row
      - list.each do |event|
        .span4
          = render :view => "item", :locals => { :event => event }
