$baseFontSize: 17px 
$baseLineHeight: 17px 
// For some reason setting gridGutterWidth is
// not working????
$gridGutterWidth: 5px
$ok-green: rgb(102,221,63)
//$baseFontFamily: 'Quicksand', sans-serif

@import "bootstrap"
@import "bootstrap-responsive"

@import "mixins/*.css.sass"
@import "**/*.css.sass"

i
  margin-top: ($baseLineHeight - 14) / 2

small
  i
    margin-top: ($baseLineHeight - 14) / 2 / 1.5 - 3
  font-size: ($baseFontSize / 1.5)
  line-height: $baseLineHeight / 1.5 

// On firefox it seems the selects were
// not rendering high enough.
select
  height: $baseFontSize * 1.8

input[type="file"]
  width: 100% !important

// Override the twitter bootstrap declaration for
// form font to use baseFontFamily.
input, button, select, textarea
  font-family: $baseFontFamily !important
