@import compass-bootstrap/compass_bootstrap
@import events

.devise
  @extend .event_box

  a
    margin-left: 20px
    margin-bottom: 2em
    @extend .btn
    @extend .primary

  br
    margin: 1em

  form.user_edit, form.user_new
    @extend .form-stacked
    @extend .gray-form

    label
      float: none !important
      display: block
      text-align: left !important


    input
      float: none !important
      display: block
      text-align: left !important
      margin-bottom: 1em

    input[type='checkbox']
      clear: none
      display: inline
      margin-top: 1.5em

    label[for='user_remember_me']
      display: inline
      margin-left: 1em

    input[type='submit']
      margin-top: 1em
      @extend .btn
      @extend .primary


    div
      display: block
