@import "openkitchen/bootstrap.less";

// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Google MAPS configuration
@small_map_width: @gridColumnWidth * 8;
@small_map_height: 480 / 640 * @small_map_width;
#small_map{
  width: auto;
  height: @small_map_height;
}

.small_map_container {
  padding-bottom: 1em;
}


.actions {
  background: none !important; }

.things_to_bring {
}

.guests {
  form.invite-guest {
    } }

.edit_event {
  // These are not really disabled but they are
  // not editable
  input[disabled="disabled"], textarea[disabled="disabled"], select[disabled="disabled"] {
    background-color: white;
    color: black;
  }

  input, select {
    width: 100%;
  }

  textarea {
    width: 100%;
  }

}

input.resource_quantity_button {
  width: 10% !important;
}


@import "openkitchen/semantic-icon";

// Adding and removing guests
.guest_buttons {
  display: inline-block;
  form {
    display: inline;
    float: none;

    &:first-child {
      input[type="submit"] {
        margin-left: 0px;
      }
    }

    &:last-child {
      input[type="submit"] {
        margin-right: 16px;
      }
    }

    input[type="submit"] {
      display: inline;
      float: none;
      width: 16px !important;
      height: 16px !important;
      margin-left: 8px;
      margin-right: 8px;
      .icon;
      &.email {
        .icon-envelope;
      }
      &.remove {
        .icon-fire;
      }
    }
  }
}
