// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@white-50: rgba(255, 255, 255, 0.9);
@olive: rgba(79, 124, 93, 0.8);

.actions {
  background: none !important; }

.event_box {
  margin-top: 0.5em;
  padding: 0.5em;
  border: 2px @olive solid;
  background-color: @white-50;
  @include box-shadow;
  h2 {
    padding: 0.5em;
    margin-bottom: 1.5em;
    }
  @include border-radius(5px);
  margin-bottom: 25px;
  padding-bottom: 0px; }

.things_to_bring {
}

.guests {
  form.invite-guest {
    } }

.edit_event {
  form {
    } }

.cant_come_button {
}

.can_come_button {
}

.event_title_box {
  margin-top: 0.5em;
  h1 {
    text-align: center;
    color: rgb(117, 72, 7);
    padding-top: 0.5em; } }

// Stop bootstrap fucking with button_to. It should by
// default be inline
form.button_to {
  display: inline;
  float: none;
  div {
    input {
      display: inline;
      float: none;
      } } }

input.resource_quantity_button {
  width: 10% !important;
}


// Adding and removing guests
.guest_buttons {
  display: inline-block;
  form {
    display: inline;
    float: none;
    input {
      display: inline;
      float: none;
    }
  }
}

@import "openkitchen/semantic-icon";

.guest_buttons {
  input[type="submit"] {
    .icon;
    width: 16px !important;
    height: 16px !important;
    &.email {
      .icon-envelope;
    }
    &.remove {
      .icon-fire;
    }
  }
}
