// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$ok-green: rgb(107,	215,	19)



.events .list 
  .span3
    @media (max-width: 768px)
      width: 100%

  .event
    margin-top: 15px
    padding: 0.2em
    +gradientBar($white, darken($white, 0.2))
    +box-shadow()

    .event_name
      font-weight: normal
    .venue

    .avatar
      img
        @extend .hidden-tablet
        @extend .hidden-phone
        float: left 
        margin-right: 0.5em
        margin-top: 0.2em

    .event_owner
      color: $grayDarker
      a
        color: $grayDarker

    .description
      color: $gray

    .datetime

    ul
      @extend .unstyled
      li
        +vertical-seperator
        padding-top: 0.5em
        padding-bottom: 0.5em


#invitation_status
  display: block
  padding-top: 1em
  a.accepted
    @extend .btn-success
  a.rejected
    @extend .btn-danger
  a.pending
    @extend .btn-warning
  a.maybe
    @extend .btn-info

#edit_event_page, #show_event_page
  .description 
    img
      float: left
      margin-right: 1em
      +box-shadow()
    display: block


  .datetime
    display: inline-block

  .actions
    background: none !important

  .things_to_bring

  ul.guests
    li
      +vertical-seperator
      margin-top: 0px
      margin-bottom: 0px
      padding-bottom: 0.5em
      padding-top: 0.5em
      +box-shadow(green)
      z-index: -1

      .info
        display: inline-block
        vertical-align: top

        .name
          display: block

        .buttons
          display: block
          margin-top: 0.25em
          margin-bottom: 0.25em

      .image
        white-space: nowrap
        display: inline

        
    @extend .unstyled

  .edit_event, .new_event
    a.map
      img
        display: block


  input.resource_quantity_button
    width: 10% !important

  // Adding and removing guests
  .guest_buttons
    display: inline-block
    form
      display: inline
      float: none

      &:first-child
        input[type="submit"]
          margin-left: 0px

      &:last-child
        input[type="submit"]
          margin-right: 16px

      input[type="submit"]
        display: inline
        float: none
        margin-left: 8px
        margin-right: 8px
        @extend .btn-danger
        &.email
          @extend .icon-envelope

        &.remove
          @extend .icon-fire

.comments
  textarea
    width: 100%
    height: 1em

  ul
    @extend .unstyled
    li.comment
      +gradientBar($grayLighter, darken($grayLighter, 5))
      padding: 0.5em
      +box-shadow()

      .watch
        text-align: right
        margin-left: 1em
        float: right
      .destroy
        text-align: right
        margin-left: 1em
        float: right
      .author
        color: $blue
        float: left
        margin-right: 0.5em
      .avatar
        float: left
        margin-right: 0.5em

  a.subscribe
    margin-top: -7px
