// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@import compass/css3
@import bootstrap-config

$eoa-blue: rgb(0,148,204)
$white-50: rgba(255,255,255,0.8)
$olive: rgba(79,	124,	93, 0.4)

.actions
  background: none !important

.event_box
  padding: 0.5em
  h2
    margin-left: 0.5em
  border: 15px $olive solid
  background-color: $white-50
  +box-shadow
  
  +border-radius(5px)
  margin-bottom: 25px
  padding-bottom: 0px

.things_to_bring
  @extend .event_box

.guests
  @extend .event_box

.invite_guests
  @extend .event_box

.edit_event
  @extend .event_box

.cant_come_button
  @extend .btn

.can_come_button
  @extend .btn

.event_title_box
  margin-top: 0.5em
  @extend .event_box
  h1
    text-align: center
    color: green
    padding-top: 0.5em

@import 'susy/susy'
input
  +columns(12)
select
  +columns(12)

// Stop bootstrap fucking with button_to. It should by
// default be inline
form.button_to
  display: inline
  float: none
  div
    input
      display: inline
      float: none
      @extend .btn

@import "compass/reset/utilities"

.delete_guest_button_common
  padding: 0.5em

form.delete_guest_button
  display: inline
  float: none
  margin-right: 5px
  input
    display: inline
    float: none
    @extend .delete_guest_button_common
    @extend .btn.danger
    margin-right: 0px

form.send_invitation_button
  @extend form.delete_guest_button
  input
    @extend .btn.info

span.delete_guest_button_disabled
  @extend .btn
  @extend .delete_guest_button_common
  margin-right: 5px
