= ccedborder($color)
  background-color: $color
  border: 10px solid darken($color, 20%)

.home

  .teaser
    margin-top: 2em
    margin-bottom: 2em
    text-align: center !important
    img
      width: auto
      +border-radius(0)
      +box-shadow(0 0 0)

  #teaser-wrapper
    width: 949px
    background-color: rgba(0,0,0,0)
    max-height: 949px
    margin-left: -470px
    .modal-body
      padding: 0px
    .modal-footer
      background-color: rgb(51,51,51)


  .cookchateatdrink
    padding-top: 1em
    .cook
      +ccedborder(lighten($red, 20%))
      margin-bottom: 1em
    .chat
      +ccedborder(lighten($green, 20%))
      margin-bottom: 1em
    .eat
      +ccedborder(lighten($blue, 20%))
      margin-bottom: 1em
    .drink
      +ccedborder(lighten($yellow, 20%))
      margin-bottom: 1em
    .cook,.chat,.eat,.drink
      padding: 1em


