$total-cols: 6                   
$col-width: 4em                    
$gutter-width: 1em                 
$side-gutter-width: $gutter-width 

@import 'susy/susy'


#page
  +container
  .content
    margin-left: 5px
    margin-right: 5px
    +columns(6)
