@baseFontSize: 22px;
@baseLineHeight: 18px;

@import "twitter/bootstrap";

label {
  padding-bottom: 5px;}

  html {
    body {
      background-repeat: repeat;
      background-attachment: scroll;

  }}

#page
  .row
  .content {
  }
  .sidebar {
  }



form {
  input {
    font-size: 16px }}
