$brand-width: 320px
$brand-height: 46px
$brand-padding: 10px

$banner-height: 150px

// See subnav-scrollspy.js.coffee
#subnavbar_padding
  @extend .hidden-phone
  @extend .hidden-tablet

#loading
  display: none
  background-color: rgba(250, 250, 250, 0.1)
  z-index: 200
  height: 100%
  width: 100%
  background-repeat: repeat
  position: fixed
  top: 0px
  left: 0px
  text-align: center 
  line-height: 240px 

  img
    position: fixed 
    bottom: 0 
    top: 0 
    left: 0 
    right: 0
    margin: auto


// TODO Find out why we need to do
// this to stop the scrolling jiggling
// when the first element is selected
// on the subnav
#page_body
  margin-top: 1em

header#overview

  @media (min-width: 980px)
    margin-top: 46px

  // Bootstrap responsive adds a 20px border
  // when going to tablet mode but we want the
  // headers to span
  @media (max-width: 768px)
    margin-left: -20px
    margin-right: -20px

  #subnav_header
    background-color: darken($ok-green, 15%)
    border-bottom: 5px solid mix($blue, darken($ok-green, 15%), 35%)

  #subnav_header2
    background-color: $red
    border-top: 5px solid mix($red, darken($ok-green, 15%), 35%)
    border-bottom: 5px solid mix($red, darken($blue, 15%), 35%)

  #subnav_header, #subnav_header2
    h1
      img
        vertical-align: middle
        margin-bottom: 0.2em
        +border-radius(50px)
        +box-shadow()
      text-transform: capitalize
      padding-left: 10px
      white-space: nowrap
      display: block-inline

      font-size: 6.5em
      line-height: $banner-height
      color: $ok-green
      margin-bottom: 0.2em
      margin-top: 0.2em
      text-align: left

    h2
      text-transform: capitalize
      padding-left: 10px
      white-space: wrap
      display: block-inline
      font-size: 2.5em
      color: $grayLighter
      a
        color: $grayLighter
      margin-bottom: 0.2em
      margin-bottom: 0.2em
      margin-top: 0.2em
      text-align: right

  .subnav
    margin-top: 0px
    +gradientBar($blue, lighten($blue, 10%))
    border-top: 5px solid mix($blue, darken($ok-green, 30%), 65%)
    ul
      a
        +gradientBar($blue, lighten($blue, 10%))
        font-weight: bold
        color: darken($green, 30%)
        &:hover
          +gradientBar($blue, lighten($blue, 20%))

section
  h1:first-child
    +nice-bar

a.brand
  @media (min-width: 480px)
    background-image: image-url('logo.png')
    height: $brand-height
    width: $brand-width
  @media (max-width: 480px)
    background-image: image-url('logo-small.png')
    height: $brand-height / 2
    width: $brand-width / 2
  padding: 0px !important
  margin: 0px !important


#background_image
  img
    width: 100% !important
    min-width: 2560px !important
    position: fixed
    top: 0
    left: 0
    z-index: -1

label
  padding-bottom: 5px

form
  input[type='submit']
    @extend .btn
    @extend .btn-primary
  button[type='submit']
    margin-top: -6px
    @extend .btn
    @extend .btn-primary
  input,select
    width: 100%
    max-width: 20em

  textarea
    width: 100%

  fieldset.datetime
    .date
      select
        &:first-child
          width: 35% !important
        &:nth-child(2)
          width: 35% !important
        &:last-child
          width: 25% !important
        clear: none

    .time
      select
        clear: none
        width: 47%
  // These are not really disabled but they are
  // not editable
  input[disabled="disabled"], textarea[disabled="disabled"], select[disabled="disabled"]
    background-color: white
    color: black

  input, select
    width: 100%

section.scroll_buffer
  height: 1200px


#complete_registration_button
  form
    margin: 0
    border: 0


form
  .help-inline
    color: $gray
    @extend small
    margin-top: -5px
    padding-top: 0px

.impressum
  margin: 5px
  padding: 5px
  .link
    h1
      line-height: 1em
      padding-top: 0px
    display: inline-block
  img
    margin-right: 1em
    display: inline
    +border-radius(2px)
    +box-shadow()


// Fix bootstrap bugs
img
  max-width: 100%

a
  color: darken($blue, 20%)

.autofont 
  white-space: nowrap
  *
    white-space: nowrap
