// Makes an avatar thumbnail that resizes
// with a pretty border without moving any
// of the other elements
= avatar($pattern, $width, $height, $scale)
  &.avatar.#{$pattern}
    width: $width
    height: $height
    position: relative

img
  +avatar(medium, 300px, 300px, 2)
  +avatar(thumb, 100px, 100px, 2)
  +avatar(mini_thumb, 50px, 50px, 2)

.profile.edit
  .avatar
    img
      +box-shadow
      +border-radius
  #user_about
    width: 100%
