// Makes an avatar thumbnail that resizes
// with a pretty border without moving any
// of the other elements
= avatar($pattern, $width, $height, $scale)
  &.avatar.#{$pattern}
    position: relative
    width: $width

img
  +avatar(vlarge, 1200px, 900px, 2) 
  +avatar(medium, 800px, 600px, 2)
  +avatar(small, 380px, 280px, 2) 
  +avatar(thumb, 100px, 100px, 2)
  +avatar(minithumb,50px, 50px, 2)

.profile.edit
  .avatar
    img
      +box-shadow
      +border-radius
  #user_about
    width: 100%
