<p><%=t ".welcome"%> <%= @resource.email %>!</p>

<p><%= t ".message" %> :</p>

<p><%= link_to t(".confirm_my_account") , confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
